.body, html, body {
  background-color: #080010;
  color: #F7FFEF;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/***************************
          Header
***************************/
#header-text {
  line-height: 0.8;
  color: #B10F2E;
}

#sub-text {
  font-size: 60%;
  line-height: 1.3;
    color: #F7FFEF;
}

/***************************
        Search Bar
***************************/
.search-bar {
  padding-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.search-bar input {
  width: 75%;
  background-color: #201927;
  border-style: groove;
  border-radius: 1px;
}

/***************************
         Video List
***************************/
.video-list {
  background-color: #201927;  
  border: 1px solid #F7FFEF;
  padding-right: 0px !important;
  border-radius: 1px;
}

.video-item img {
  max-width: 64px;
}

.media-heading {
  margin: 0 8px;
}

.snippet-title {
  font-weight: bold;
}

.list-group-item {
  cursor: pointer;
  background-color: #201927 !important;
}

.list-group-item:hover {
  background-color: #eee;
}

/***************************
        Video Details
***************************/
.video-detail .details {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #F7FFEF;
  border-radius: 1px;
  background-color: #201927;
}


